@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
a{
    text-decoration: none;
    color: #FFF;
}
header{
    width: 100%;
    height: 700px;
    background-color: #2D25A0;
    margin-bottom: 60px;
}
header:hover{
    background-color: #160e8b;
    transition: 0.4s;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10%;
}
.navbar li, a, button{
    font-weight: 500;
    font-size: 24px;
    color: #edf0f1;
    text-decoration: none;
}
.navbar .login{
    margin-left: auto;
}
.navbar .logo:hover{
    color: #E02C6D;
    transition: all 0.3s ease 0s;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.fa-sign-in-alt{
    padding-right: 10px;
}
.nav__links li a:hover{
    color: #E02C6D;
}
button{
    padding: 9px 25px;
    background-color: #E02C6D;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: #b80e4c;
}

/* Banner */

.banner{
    Width: 85%;
    height: 476px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.banner .content{
    
}
.half-banner h1{
    font-size: 64px;
    color: #FFFFFF;
}
.half-banner a{
    background-color: #E02C6D;
    padding: 10px 24px;
    margin-top: 20px;
    position: absolute;
}
.half-banner a:hover{
    background-color: #E02C6D;
    border-radius: 15px;
    transition: 0.3s;
}
.half-banner img{
    width: 100%;
}

/* Players Style */

.players{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: center;
    column-gap: 3%;
    grid-gap: 3%;
    margin-bottom: 200px;
}
.player{
    padding: 5%;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.player:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    transition: 0.4s;
}
.player img{
    width: 100%;
}
.player p{
    line-height: 30px;
}

/* Highlights */

.highlights{
    width: 100%;
    margin-bottom: 50px;
}
.highlights .highlight{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 2%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}
.highlight .half-width{
    
}
.half-width img{
    width: 100%;
} 
.half-width a{
    position: absolute;
    margin-top: 20px;
    background-color: #E02C6D;
    padding: 10px 24px;
}
.half-width a:hover{
    background-color: #E02C6D;
    border-radius: 15px;
    transition: 0.3s;
}
.highlights h1{
    color: #000;
    font-size: 70px;
}
.highlights p{
    font-size: 20px;
    line-height: 40px;
}
.highlights .content{

}

/* Latest News */
.latest-title{
    text-align: center;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 100px;
}
.latest-news{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 5%;
    margin: 50px auto;
}
.news img{
    width: 100%;
}
.news p{
    line-height: 30px;
    margin-top: 10px;
}

/* Sponsor */
.sponsor-title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    font-family: 'Bebas Neue', cursive;
}
.sponsor{
    background-image: url(./images/sponsor.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 350px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.sponsor .client{
    display: flex;
    align-items: center;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.footer-logo .footer-icon, p{
    display: flex;
    justify-content: center;
}
.footer-icon{
    margin: 20px 0px;
}
.footer-icon i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: gray;
    background-color: #969BAB;
    margin-right: 10px;
}
.footer-icon i:hover{
    transform: rotate(45deg);
    transition: 0.6s;
    color: #000;
}




/*
-----------------
RESPONSIVE DESIGN 
-----------------
*/

/* Mobile Device */

@media screen and (max-width: 688px) {
    header{
        width: 100%;
        height: 800px;
    }
    /* navbar */
    .navbar{
        padding: 0;
        text-align: center;
    }
    .navbar .login{
        margin: 0 auto;
    }

    /* Banner */
    .banner{
        display: grid;
        grid-template-columns: repeat(1, 300px);
    }
    .banner .half-banner{
    }
    .half-banner h1{
        font-size: 40px;
    }
    .half-banner img{
        width: 300px;
        margin-top: 140px;
    }
    .half-banner h1{
        
    }
    .half-banner a{
        position: absolute;
        margin-top: 30px;
        padding: 20px 34px;
    }
    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
        margin-bottom: 40px;
    }
    .highlights .content{
        padding: 7%;
        
    }
    .highlights h1{
        font-size: 30px;
    }
    .highlights .highlight{
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(1, 300px);
        
    }
    .highlight .half-width{
        
        
    }
    .half-width{
        
    }
    .half-width img{
        margin-top: 100px;
        width: 90%;
    }
    .player{
        
    }
    .latest-news{
        margin-top: 40px;
        grid-template-columns: repeat(1, 300px);
        column-gap: 100px;
    }
    .sponsor{
        flex-direction: column;
        height: 800px;
    }
    .sponsor-title{
        margin-top: 200px;
    }
    .sponsor .client{
        flex-direction: column;
    }
    .footer-logo img{
        width: 300px;
    }
}


/* Tablet Responsive */

@media screen and (min-width: 689px) and (max-width: 992px) {
    header{
        width: 100%;
        height: 390px;
    }
    .banner{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        align-items: center;
        height: 0px;
    }
    .banner .content{
        padding: 8%;
    }
    .banner .half-banner{

    }
    .half-banner h1{
        font-size: 20px;
    }
    .half-banner img{
        width: 100%;
    }
    .half-banner .content{
        padding: 0;
    }
    .half-banner a{
        position: absolute;
        margin-top: 30px;
        padding: 20px 34px;
    }
    .players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        margin-bottom: 40px;
    }
    .highlights{
        
        
    }
    .highlights h1{
        font-size: 30px;
    }
    .highlights .highlight{
        
        display: grid;
        grid-template-columns: repeat(1, 530px);
        
    }
    .highlight .half-width{
        
        
    }
    .half-width{
        
    }
    .half-width img{
        margin-top: 100px;
        width: 100%;
    }
    .player{
        margin: 0 auto;
    }
    .latest-news{
        margin-top: 40px;
        grid-template-columns: repeat(1, 420px);
        column-gap: 100px;
    }
    .sponsor{
        flex-direction: column;
        height: 700px;
    }
    .sponsor-title{
        margin-top: 200px;
    }
    .sponsor .client{
        flex-direction: column;
    }
    .footer-logo img{
        width: 400px;
    }
}

