@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #F3F1FF; */
    
    background-color: #FFFFFF;
}
a{
    text-decoration: none;
    color: #FFF;
}
header{
    width: 100%;
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.banner{
    Width: 85%;
    height: 700px;
    display: flex;
    align-items: center;
    
}
.half-banner{
    width: 50%;
}
.banner .content{
    /* padding: 8%; */
}
.half-banner h1{
    font-size: 64px;
    color: #FFFFFF;
}
.half-banner a{
    background-color: #E02C6D;
    padding: 10px 24px;
}
.half-banner a:hover{
    background-color: #E02C6D;
    border-radius: 10px;
    transition: 0.3s;
}
.half-banner img{
    width: 100%;
}

/* Players Style */

.players{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: center;
    column-gap: 3%;
    grid-gap: 3%;
    margin-bottom: 200px;
}
.player{
    padding: 5%;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.player img{
    width: 100%;
}

/* Highlights */
.highlights{
    Width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.highlights .highlight{
    width: 90%;
    display: flex;
    align-items: center;
    
}
.highlight .half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
} 
.half-width a{
    position: absolute;
    margin-top: 20px;
    background-color: #E02C6D;
    padding: 10px 24px;
}
.half-width a:hover{
    background-color: #E02C6D;
    border-radius: 10px;
    transition: 0.3s;
}
.highlights h1{
    color: #000;
}
.highlights p{
    line-height: 40px;
}
.highlights .content{
    /* padding: 7%; */
}

/* Latest News */
.latest-news{
    display: grid;
    grid-template-columns: repeat(3, 450px);
    justify-content: center;
    grid-gap: 3%;
    margin-bottom: 60px;
}
.news img{
    width: 100%;
}

/* Sponsor */
.sponsor-title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    font-family: 'Bebas Neue', cursive;
}
.sponsor{
    background-image: url(./images/sponsor.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 350px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.sponsor .client{
    display: flex;
    align-items: center;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.footer-logo .footer-icon, p{
    display: flex;
    justify-content: center;
}
.footer-icon{
    margin: 20px 0px;
}
.footer-icon i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: gray;
    background-color: #969BAB;
    margin-right: 10px;
}










/*
-----------------
RESPONSIVE DESIGN 
-----------------
*/

/* Mobile Device */

@media screen and (max-width: 688px) {
    header{
        height: 800px;
    }
    .banner{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .banner .half-banner{
        /* background-color: green; */
        padding: 0px 100px;
    }
    .half-banner h1{
        font-size: 40px;
    }
    .half-banner img{
        width: 100%;
        margin-top: 140px;
    }
    .half-banner h1{
        
    }
    .half-banner a{
        position: absolute;
        margin-top: 30px;
        padding: 20px 34px;
    }
    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
        margin-bottom: 40px;
    }
    .highlights{
        width: 100%;
        background-color: royalblue;
    }
    .highlights h1{
        font-size: 30px;
    }
    .highlights .highlight{
        width: 100%;
        flex-direction: column;
        
    }
    .highlight{
        /* width: 100%;
        flex-direction: column; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .half-width{
        width: 50%;
    }
    .half-width img{
        margin-top: 100px;
        width: 100%;
    }
    .player{
        margin: 0 auto;
    }
    .latest-news{
        margin-top: 40px;
        grid-template-columns: repeat(1, 420px);
        column-gap: 100px;
    }
    .sponsor{
        flex-direction: column;
        height: 800px;
    }
    .sponsor .client{
        flex-direction: column;
    }
    .footer-logo img{
        width: 400px;
    }
}

